@{
    ViewBag.Title = "History";
}
<div style="margin: 25px; padding: 10px;">
    <h2>History of Pineapple</h2>
    <br />
    <h3>@ViewBag.Message</h3>
    <p>Psst... The answers to the quiz are: 1) Nope. 2) Yep. 3) Under the sea!
    <br>Thank me later!</p>
</div>